<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>
<body>
    <aside class="profile-card">
        <header>
            
                <img src="/img.png" alt="Profile Picture">
            
            <h1>Danulo Tsupko</h1>
            <h2>Web Designer</h2>

        </header>

        <div class="profile-bio">
            <p>I'm a programmer passionate about web development, with expertise in Angular, Django, Ionic, and .NET. I enjoy crafting responsive and dynamic user interfaces while seamlessly integrating backend technologies. </p>
        </div>

        <ul class="profile-social-links">
            <li>
                <a href="https://t.me/+380952591326">
                    <img src="TG.png" alt="Google Plus">
                </a>
            </li>
            <li>
                <a href="https://x.com/">
                    <img src="X.png" alt="Twitter">
                </a>
            </li>
        </ul>
    </aside>
</body>
</html>
<router-outlet></router-outlet>
